.navbar .navbar-collapse .navbar-nav .active::after {
  left: 55px;
}

#form-wrap {
  border: 4px solid rgba(255,255,255,0.04);
  padding: 30px;
  width: 100%;
  height: auto;
}

.reservation .form-group .form-label {
  color: #fff !important;
  text-transform: uppercase !important;
  letter-spacing: 1px !important;
}
.reservation .form-group .form-label {
  display: inline-block;
  max-width: 100% !important;
  margin-bottom: 5px !important;
  font-weight: bold !important;
}

.reservation .form-group > .form-control,
.reservation .form-group > .custom-select {
  background-color: transparent !important;
  color: white;
  border: 2px solid rgba(255,255,255,0.3);
}
.reservation .form-group > .custom-select > option {
  background-color: #333 !important;
}

.form-control:active, .form-control:focus,
.custom-select:active, .custom-select:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #fff !important;
  
}

.reservation .form-btn > a {
  border: 2px solid crimson;
  padding: 10px 36px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  transition: .3s all ease;
}

.reservation .form-btn > a:hover {
  background: crimson;
  color: white;
}
