.navbar .navbar-collapse .navbar-nav .active::after {
  left: 35px;
}


.gallery .gallery_item {
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}
.gallery .gallery-bg-img, .gallery .gallery_big {
  float: left;
  margin-bottom: 20px;
  background-size: cover;
  cursor: zoom-in;
  background-position: center !important;
  background-size: cover !important;

}
.gallery .gallery-bg-img {
  height: 200px;
  background-position: center !important;
  background-size: cover !important;
}
.gallery .gallery_big {
  height: 420px !important;
  background-position: center !important;
  background-size: cover !important;
}
@media screen and (max-width: 768px) {
  .gallery .gallery_big > img {
    height: 200px; 
  }
}